<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Ghibli</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Purecss -->
    <link rel="stylesheet" href="../css/pure.min.css">
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,700;1,300&display=swap" rel="stylesheet">
    <!-- CSS Maison -->
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
    <div class="pure-g">
      <main class="content pure-u-1 pure-u-md-3-4 pure-u-xl-5-6"> 
        <nav class="banner-menu pure-menu">
          <a href="/" title="Retour à l'accueil">
            <img class="pure-img img"  src="https://upload.wikimedia.org/wikipedia/fr/thumb/e/eb/Logo_Ghibli.svg/1200px-Logo_Ghibli.svg.png" alt="Logo de O'Blog">
          </a>
          <h1 class="content-title">Les (merveilleux) films du studio Ghibli</h1>
          <ul class="pure-menu-list">
            <li class="pure-menu-item">
              <form method="GET" action="/searchResult">
              <input placeholder="Recherche"class="pure-menu-link search" id="q" name="barreRecherche" type="search"> 
            </form>
            </li>
          </ul>
        </nav>
